button {
    cursor: pointer;
}

.btn {
    transition: 0.3s;
}

.btn:hover {
    background-color: rgba(255, 0, 0, 0.781);
    color: black;
}


.hero-img {
    background: url(./images/Component\ 1.png);
    width: 52rem;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.caption {
    color: #707070;
    font-size: 18px;
    line-height: 28px;
    width: 680px;
    text-align: center;
    margin: 0px auto 50px;
}

.card-container {
    display: flex;
    /* border: 2px solid red; */
    gap: 22px;
}

.card {
    font-size: 30px;
    color: #FF5959;
    border: 2px solid #ff595936;
    font-weight: bold;
    padding: 44px 23px;
    border-radius: 5px;
    width: 136px;
    height: 123px;
}

.card:hover {
    border: 2px solid #ff595962;
    color: rgba(255, 0, 0, 0.781);
}

#card-2 {
    border: 2px solid #FF5959;
}

@media screen and (max-width: 640px) {

    .title {
        font-size: 2rem;
    }

    .caption {
        width: 100%;
        /* border: 2px solid red; */
    }

    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}