@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.font-family {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

button {
    cursor: pointer;
}

.btn {
    transition: 0.3s;
}

.btn:hover {
    background-color: rgba(255, 0, 0, 0.781);
    color: black;
}

.btn-1 {
    transition: 0.3s;
}

.btn-1:hover {
    color: black;
    background-color: #0000001c;
}


.hero-img {
    background: url(./images/Component\ 1.png);
    width: 52rem;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.caption {
    color: #707070;
    font-size: 18px;
    line-height: 28px;
    width: 680px;
    text-align: center;
    margin: 0px auto 50px;
}

.card-container {
    display: flex;
    /* border: 2px solid red; */
    gap: 22px;
    margin-bottom: 60px;
}

.card {
    font-size: 30px;
    color: #FF5959;
    border: 2px solid #ff595936;
    font-weight: bold;
    padding: 44px 23px;
    border-radius: 5px;
    width: 136px;
    height: 123px;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    border: 2px solid #FF5959;
    color: rgba(255, 0, 0, 0.781);
}

.card-01,
.card-02,
.card-03 {
    transition: 0.3s;
}



.card-01:hover {
    background-color: rgba(79, 157, 166, 0.200);
}

.card-02:hover {
    background-color: rgba(255, 89, 89, 0.200);
}

.card-03:hover {
    background-color: rgba(255, 187, 0, 0.400);
}

.cash-ammount {
    font-size: 18px;
    text-align: center;
    color: #707070;
    padding-bottom: 10px;
    border-bottom: 1px solid #70707057;
}

.footer-font {
    font-family: "Lobster", sans-serif;
}

@media screen and (max-width: 640px) {

    .title {
        font-size: 2rem;
    }

    .caption {
        width: 100%;
        /* border: 2px solid red; */
    }

    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}